/*h1{

    color: orange;
    background-color: slategray;
    font-size: 50px;
    text-decoration: underline;
    font-family: Arial;
    text-align: center;

}

p{

    color: red; 
    text-align: right;
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 2;
    column-gap: 60px;
}
ul{
    /* border-width: 4px; 
    border-style: solid;
    border-color: crimson;*/
    /* border: 4px solid crimson; */
    /*border-bottom: 4px solid crimson;
    border-left: 8px dashed rgb(31, 8, 92);
    border-bottom: 4px dotted crimson;
}
li{
    list-style-type: square;
    /* text-shadow: 2px 2px lightgray; */
    /* text-shadow: 2px 2px #e9e9e9;  */

/*div{
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}
span{
    border: 2px solid gray;
    padding: 20px;
}
.error{
color: blue;
}
p.success.feedback{

    border: 1px solid  rgb(34, 211, 72);

    }*/
div p{
        color: gray;
    }
    a[href="https://www.thenetninja.co.uk"]{
        background-color: green;
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-transform: lowercase;
    }
    a[href*="google"]{
        color: white;
        background: red;
        border: 2px solid blue;
    }
   